<!DOCTYPE html>
<html ng-app="App">
<head>
    <!-- ref:js vendor.js -->
    <script src="../vendor/angularjs-1.2.0/angular.min.js"></script>
    <!-- endref -->
    <!-- ref:js <%= pkg.name %>.js -->
    <script src="app/app.js"></script>
    <script src="app/TicTacToeCntl.js"></script>
    <!-- endref -->
    <!-- ref:css <%= pkg.name %>.css -->
    <link rel="stylesheet" href="styles/stylesheet.css">
    <!-- endref -->
</head>
<body>
<h4 id="source_tic-tac-toe">Tic-Tac-Toe</h4>
<div ng-controller="TicTacToeCntl">
    Next Player: {{nextMove}}
    <div class="winner" ng-show="winner">Player {{winner}} has won!</div>
    <table class="board">
        <tr ng-repeat="row in board track by $index">
            <td ng-repeat="cell in row track by $index"
                ng-click="dropPiece($parent.$index, $index)">{{cell}}</td>
        </tr>
    </table>
    <button ng-click="reset()">reset board</button>
</div>
</body>
</html>